<style>

    .abt_tit {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    position: relative;
    }
    .abt_abt {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    position: unset;
    }
    /* width */
    ::-webkit-scrollbar {
    width: 10px;
    }
          
    /* Track */
    ::-webkit-scrollbar-track {
    background: #000000;
    }
          
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    }
          
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
    }
    .scrollable-element {
  scrollbar-color: rgb(0, 0, 0) rgb(0, 0, 0);
}
</style>
<body style="background-color:rgb(0, 0, 0);">
<title>Mars - Project Space</title>
<iframe width="95%" height="90%" style="margin-left: auto; margin-right:auto; display: block;" src="mars_embed.html"></iframe>

<article class="abt">
<b class="abt_tit" >Mars</b>
</article>
<article class="abt_2">
<b class="abt_abt" >Mars is the fourth planet from the sun and has two moons, Phobos and Deimos. Mars has a thin atmosphere that consists mostly of carbon dioxide. </b>
</article>
</body>